<%- include('./layout/navbar.ejs') %> 

<div class="pt-5">
    <div class="container mt-5">
        <div class="d-flex justify-content-end mb-2">
            <a href="/new" class="btn btn-primary">New Person</a>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Index</th>
                <th scope="col">Firstname</th>
                <th scope="col">Middlename</th>
                <th scope="col">Lastname</th>
                <th scope="col">Age</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <% if (persons.length > 0) { %>
                <% for( let index = 0; index < persons.length; index++ ) { %>
                    <tr>
                        <th> <%- index %>  </th>
                        <td> <%- persons[index].firstname  %>  </td>
                        <td> <%- persons[index].middlename  %>  </td>
                        <td> <%- persons[index].lastname  %>  </td>
                        <td> <%- persons[index].age  %>  </td>
                        <td><a href="persons/<%- index %> ">Update</a></td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr><td colspan="9" class="text-center">No Data Found</td></tr>
            <% } %> 
            </tbody>
        </table>
    </div>
</div>
